@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
    position: relative;
}


/* header */

header{
    background-color:#080808;
}
nav{
    height: 50px;
    max-width: 90%;
    margin: 0 auto;
    background-color: #1B1B1B;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav a{
    color: #9C9C9C;
}

.bx{
    display: block;
    font-size: 1.5rem;
    color: #9C9C9C;
}
.nav-link{
    display: none;
}  




.socials a {
    padding: 0px 8px;
}
.socials a:first-of-type{
    padding-left: 0px;
}
.socials a:last-of-type{
    padding-right: 0px;
}
.socials a img{
    width: 1rem;
    height: 1rem;
    object-fit: contain;
}

.profile{
    width: 90%;
    margin: 0 auto;
    padding: 50px 20px 15px 20px;
    display: grid;
    grid-template-rows: 1fr 70px;
}
.profile-flex{
    display: flex;
    padding-bottom:20px;
    justify-content: space-between;
}
.profile-flex img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}
.about-me{
    width:50% ;
    display: grid;
    align-content: center;
}
.about-me h1{
    font-size: 1rem;
    color: #ffffff;
    margin: 0;
}
.about-me p{
    font-size: 10px;
    color: #9c9c9c;
    margin: 0;
    padding: 10px 0;
}
.about-me button{
    width: 120px;
    height: 30px;
    border: 1px solid #62BA1B;
    font-size: 8px;
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 4px;
    background: #3F8E00;
    color: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
}
.history div{
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 12px;
}
.history .companies{
    height:40px;
    display: flex;
    justify-content: space-between;
}
.history .companies img{
    width: 50px;
    height: 70%;
    object-fit: contain;
    border: 1px solid #1B1B1B;
    border-radius: 6px;
    padding: 0px 6px;
}
.companies img:nth-of-type(5){
    padding: 0px 12px;
}


 /* section */

section{
    padding: 40px 0px;
    width: 100%;
    
}

/* section 1 */

section:nth-of-type(1){
    background:#f5f5f5;
    display: flex;
    flex-direction: column;
    
}
section:nth-of-type(1) article{
    width:75%;
    margin: 0 auto;
    padding-bottom: 40px;
}
section:nth-of-type(1) article:nth-of-type(3){
    display: flex;
  flex-direction: column-reverse;
}
.about-work{
    text-align: center;
    margin: 0 auto;
}
.about-work h2{
    font-size: 20px;
    color: #080808;
    padding: 0;
}
.about-work p{
    font-size: 9px;
    line-height: 16px;
    color: #9c9c9c;
    padding: 0;
}
.work{
    margin-bottom: 20px;
    width: 100%;
}
.work div{
    width: 54px;
    padding: 10px 0px;
    font-weight: 700;
    font-size: 8px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}
.work .fintech{
    color:#FFA217;
    background-color: #FFF6E9;
}
.work .edtech{
    color:#000AFF;
    background-color: #D0E6FF;
}
.work .pharma{
    color: #2ab090;
    background-color: #E0FFF8;
}
.work h3{
    font-size: 14px;
    color: #080808;
    margin: 10px 0px;
}
.work p{
    font-size: 12px;
    line-height: 16px;
    color: #9C9C9C;
    margin: 0px;
    margin-bottom: 15px;
}
.work a{
    text-align: center;
    width: 150px;
    padding: 10px 10px;
    color: white;
    font-size: 10px;
    border-radius: 4px;
}
section article:nth-of-type(2) a{
    background: #FFA217;
    box-shadow: 0px 8px 30px rgba(42, 176, 144, 0.1);   
}
section article:nth-of-type(3) a{
    background: #000AFF;
    box-shadow: 0px 8px 30px rgba(0, 10, 255, 0.1); 
}
section article:nth-of-type(4) a{
    background: #2AB090;
    box-shadow: 0px 8px 30px rgba(42, 176, 144, 0.1);   
}
article img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/* section 2 */

section:nth-of-type(2){
    background-color: #080808;
}
section:nth-of-type(2) .t-holder{
    width: 80%;
    margin: 0 auto;
}
section:nth-of-type(2) .about-work h2{
    color: #ffffff;
}
section .client-align{
    display: grid;
    grid-row-gap: 40px;
    padding-top: 30px;
}
.client-align article{
    height: 160px;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    /* background-clip: padding-box; */
    /* border-radius: 16px; */
    border-image:linear-gradient(to left,#0B0B0B 0%,#484848 100%) 1;
    position: relative;
}
.colum{
    position: absolute;
    top: -25px;
    left: 10px;
    font-weight: 400;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}
.client-align p{
    font-size: 12px;
    color: #9C9C9C;
    padding-bottom: 8px;
}
.client-details{
    height:40px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.client-details img{
    width: 40px;
    height:100%;
    object-fit: cover;
    border-radius: 50%;
}
.client-details h4{
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 15px;
}

/* section 3 */
section:nth-of-type(3){
    background:#f5f5f5;
}
section:nth-of-type(3) .about-work{
    width: 80%;
}
.view-holder{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.previous,.next{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previous h5 span, .next h5 span{
    font-size: 12px;
    padding: 6px;
    border: 1px solid #9C9C9C;
    border-radius: 100%;
    color: #9C9C9C;
}
.work-view{
    width: 34%;
}
.work-view img{
    width: 100%;
    object-fit: cover;
}
.work-view h3{
    padding-top: 10px;
    font-size: 14px;
    color: #080808;
    font-weight: 800;
    margin: 0;
}
.work-view p{
    padding: 5px 0px;
    font-size: 12px;
    font-weight: 400;
    color: #9C9C9C;
}
.work-view a{
    padding:6px 12px;
    border: 1px solid #62BA1B;
    font-size: 12px;
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 4px;
    background: #3F8E00;
    box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
    color: #FFFFFF;
}

 /* Footer */

 footer .top{
    background-color: #080808;
    padding: 30px 0px;
}
footer .contact{
    width: 70%;
    margin: 0 auto;
padding-bottom: 10px;
    text-align: center;
}
footer .contact h2{
    margin: 0;
    font-size: 1.2rem;
    color: #FFFFFF;
}
footer .contact p{
font-size: 12px;
color: #9C9C9C;
}

form{
    width: 70%;
    margin: 0 auto;
    color: #757575;
}
form div{
font-size: 14px;
color: #FFFFFF;
}
form input{
    width: 100%;
    padding: 10px;
    background: #F8F8F8;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    margin-bottom:12px ;
}
form input:nth-of-type(3){
    padding-bottom: 100px;
}
form button{
    width: 100%;
    height: 35px;
    border: 1px solid #62BA1B;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 4px;
    background: #3F8E00;
    color: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
}

footer .bottom{
    width: 100%;
    height: 40px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    color: #9C9C9C;
}





/* Ipad view */
@media screen and (min-width:768px) {
    nav{
        height: 70px;
        padding: 0px 30px;
    }
    
    .bx{
        font-size: 2rem;
        color: #9C9C9C;
    }
    
   
    .socials a img{
        width: 20px;
        height: 20px;
    }
    
    .profile{
        padding-left:30px;
        padding-right: 30px;
        grid-template-rows: 1fr 100px;
    }
    .profile-flex{
        padding-bottom:30px;
    }
    .profile-flex img{
        width: 150px;
        height: 150px;
    }
    .about-me h1{
        font-size: 1.5rem;
    }
    .about-me p{
        font-size: 1rem;
        padding: 20px 0;
    }
    .about-me button{
        width: 200px;
        height: 40px;
        font-size: 14px;
    }
    .history div{
        margin-bottom: 15px;
        font-size: 1.2rem;
    }
    .history .companies{
        height:70px;
    }
    .history .companies img{
        width: 100px;
        height: 80%;
        padding: 0px 18px;
    }
    
    
     /* section */
    
    /* section 1 */

    section:nth-of-type(1){
        grid-row-gap: 60px;
    }
    section:nth-of-type(1) article{
        display: flex;
        justify-content: space-between;
    }
    .about-work{
        text-align: center;
    }
    .about-work h2{
        font-size: 30px;
    }
    .about-work p{
        font-size: 14px;
        line-height: 20px;
    }
    article .work{
        width: 45%;
        display: grid;
        align-content: center;
    }
    .work div{
        width: 84px;
        font-size: 12px;
    }
    .work h3{
        font-size: 1.3rem;
    }
    .work p{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
    }
    .work a{
    width: 200px;
    padding: 10px 0px;
    font-size: 14px;
    }
    article img{
        width: 48%;
    }



    
    /* section 2 */
    
    
    section:nth-of-type(2) .t-holder{
        width: 85%;
    }
    .client-align article{
        height: 180px;
        padding: 20px;
    }
    .client-align p{
        font-size: 1rem;
        padding-bottom: 5px;
    }
    .client-details{
        height:60px;
    }
    .client-details img{
        width: 60px;
    }
    .client-details h4{
        font-size: 1.2rem;
        padding-left: 20px;
    }
    

    
    /* section 3 */
   
    .view-holder{
        padding-top: 35px;
    }
    .previous h5 span, .next h5 span{
        font-size: 1.2rem;
        padding: 10px;
    }
    .work-view h3{
        padding-top: 15px;
        font-size: 1.2rem;
    }
    .work-view p{
        font-size: 14px;
    }
    .work-view a{
        padding:10px 20px;
        font-size: 1rem;
    }



    
     /* Footer */
    
     footer .top{
        padding: 50px 0px;
    }
    footer .contact{
        width: 50%;
        padding-bottom: 20px;
    }
    footer .contact h2{
        font-size: 1.5rem;
    }
    footer .contact p{
    font-size: 14px;
    }
    
    form{
        width: 50%;
    }
    form div{
    font-size: 1rem;
    padding-bottom: 5px;
    }
    form input{
        width: 100%;
        padding: 20px;
        margin-bottom:15px ;
    }
    form button{
        width: 100%;
        height: 35px;
        border: 1px solid #62BA1B;
        font-size: 14px;
        font-family: 'IBM Plex Mono', monospace;
        border-radius: 4px;
        background: #3F8E00;
        box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
    }
    
    footer .bottom{
        height: 70px;
        font-size: 1rem;
    }
}






/* Laptop View */

@media screen and (min-width:1024px) {

    nav{
        height: 70px;
        width: 90%;
        padding: 0px 80px;
    }
    .nav-link{
        display: block;
    }
    .nav-link a{
        padding-left:35px ;
        font-size: 1rem;
    }
    .nav-link a:first-of-type{
        padding-left: 0px;
    }
    .socials a {
        padding: 0px 6px;
    }
    .socials a img{
        width: 1rem;
        height: 1rem;
    }
    .socials a:first-of-type{
        padding-left: 0px;
    }
    .socials a:last-of-type{
        padding-right: 0px;
    }
    a .bx-menu{
        display: none;
    }
    .profile{
        width: 90%;
        padding: 100px 80px 30px 80px;
        grid-template-rows: 1fr 150px;
    }
    .profile-flex img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
    }
    .about-me h1{
        font-size: 35px;
    }
    .about-me p{
        font-size: 14px;
        line-height: 24px;
        padding: 20px 0;
    }
    .about-me button{
        width: 250px;
        height: 50px;
        border: 1px solid #62BA1B;
        font-size: 14px;
        font-family: 'IBM Plex Mono', monospace;
        border-radius: 4px;
        background: #3F8E00;
        box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
    }
    .history div{
        margin-bottom: 20px;
        font-size: 1rem;
    }
    .history .companies{
        height:60px;
    }
    .history .companies img{
        width: 120px;
        height: 80%;
        padding: 15px 20px;
    }

    /* section */

    section{
        padding: 80px 0px;
        
    }

    /* section 1 */

    section:nth-of-type(1){
        grid-row-gap: 80px;
    }

    
    section:nth-of-type(1) article{
        width:70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    section:nth-of-type(1) article:nth-of-type(3){
        display: flex;
      flex-direction: row;
    }
    .about-work{
        width: 80%;
        flex-direction: column;
    }
    .about-work h2{
        font-size: 34px;
    }
    .about-work p{
        line-height: 30px;
    }
    article .work{
        width: 48%;
        display: grid;
        align-content: center;
    }
    .work div{
        width: 84px;
        font-size: 12px;
    }
    .work h3{
        font-size: 24px;
    }
    .work p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    .work a{
    width: 200px;
    padding: 10px 0px;
    font-size: 14px;
    }
    section article:nth-of-type(2) a{
        background: #FFA217;
        box-shadow: 0px 8px 30px rgba(42, 176, 144, 0.1);   
    }
    section article:nth-of-type(3) a{
        background: #000AFF;
        box-shadow: 0px 8px 30px rgba(0, 10, 255, 0.1); 
    }
    section article:nth-of-type(4) a{
        background: #2AB090;
        box-shadow: 0px 8px 30px rgba(42, 176, 144, 0.1);   
    }
    article img{
        width: 48%;
        height: 300px;
    }


    /* section 2 */
    section:nth-of-type(2) .about-work{
        width: 55%;
    }
    section .client-align{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 80px;
        grid-column-gap: 50px;
        padding-top: 80px;
    }
    .client-align article{
        height: 240px;
        padding: 30px;
    }
    .colum{
    top: -35px;
    font-size: 100px;
    }
    .client-align p{
        font-size: 1rem;
        padding-bottom: 15px;
    }
    .client-details{
        height:70px;
    }
    .client-details img{
        width: 70px;
    }
    .client-details h4{
        font-size: 1.5rem;
        font-weight: 700;
        padding-left: 20px;
    }


    /* section 3 */
    section:nth-of-type(3) .about-work{
        width: 50%;
    }
    .view-holder{
        padding-top: 60px;
    }
    .previous h5 span, .next h5 span{
        font-size: 15px;
        padding: 10px;
    }
    .work-view{
        width: 36%;
    }
    .work-view img{
        height: 300px;
    }
    .work-view h3{
        padding-top: 25px;
        font-size: 30px;
    }
    .work-view p{
        padding: 15px 0px;
        font-size: 1rem;
    }
    .work-view a{
        padding: 10px 20px;
        font-size: 14px;
    }


    /* Footer */

    footer .top{
        padding: 80px 0px;
    }
    footer .contact{
        width: 45%;
    padding-bottom: 40px;
    }
    footer .contact h2{
        font-size: 35px;
    }
    footer .contact p{
    font-size: 1rem;
    }

    form{
        width: 30%;
    }
    form div{
    font-size: 1rem;
    }
    form input{
        width: 100%;
        padding: 15px;
        margin-bottom:20px ;
    }
    form input:nth-of-type(3){
        height: 120px;
    }
    form button{
        height: 50px;
        font-size: 14px;
    }

    footer .bottom{
        height: 70px;
    }

}
    


/* Larger Screen */

@media screen and (min-width:1280px) {
    nav a{
        font-size: 1rem;
    }  
    

    .socials a {
        padding: 0px 15px;
    }
    .socials a:first-of-type{
        padding-left: 0px;
    }
    .socials a:last-of-type{
        padding-right: 0px;
    }
    .socials a img{
        width: 20px;
        height: 20px;
    }
    .profile{
       padding-bottom: 50px;
    }
    .profile-flex img{
        width: 400px;
        height: 400px;
    }
    .about-me h1{
        font-size: 50px;
    }
    .about-me p{
        font-size: 1.3rem;
        line-height: 30px;
        padding: 30px 0;
    }
    .about-me button{
        width: 350px;
        height: 63px;
        font-size: 1rem;
    }
    .history .companies{
        height:80px;
    }
    .history .companies img{
        width: 200px;
        height: 80%;
        padding: 20px 20px;
    }
    .about-work h2{
        font-size: 50px;
    }
    .about-work p{
        font-size: 1.3rem;
    }
    .work h3{
        margin: 20px 0px;
    }
    .work p{
        font-size: 1rem;
        line-height: 30px;
        margin-bottom: 40px;
    }
    .work a{
        width: 250px;
        padding: 15px 0px;
        font-size: 1rem;
     }
     article img{
        height: 400px;
    }
    .client-align p{
        font-size: 1.2rem;
        color: #9C9C9C;
    }

}